html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    position: relative;
    overflow: hidden;
    background-color: #063971;
    background-image: repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 1mm
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.07),
            rgba(255, 255, 255, 0.07) 2px,
            transparent 1px,
            transparent 10mm
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 1mm
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.07),
            rgba(255, 255, 255, 0.07) 2px,
            transparent 1px,
            transparent 10mm
        );
    background-size: 10mm 10mm;
}

.card {
    width: 90vw;
    height: 90vh;
    padding: 5vh 5vw;
    transition: transform 0.35s ease-in-out;
}

#calendar {
    position: absolute;
}

#news {
    position: absolute;
}

#team {
    position: absolute;
}
