body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    top: 0;
    position: absolute;
    overflow: hidden;

    background-color: #063971;
    background-image: repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 1mm
        ),
        repeating-linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.07),
            rgba(255, 255, 255, 0.07) 2px,
            transparent 1px,
            transparent 10mm
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05),
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 1mm
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.07),
            rgba(255, 255, 255, 0.07) 2px,
            transparent 1px,
            transparent 10mm
        );
    background-size: 10mm 10mm;

    > #root {
        position: absolute;
        width: 100vw;
        height: 100vh;
    }
}

// .card {
//     width: 90vw;
//     height: 90vh;
//     padding: 5vh 5vw;
//     top: 0;
//     left: 0;
//     transition: transform 0.35s ease-in-out;
// }

// #calendar {
//     position: absolute;
//     transform: translate(-100vw, 0);
// }

// #news {
//     position: absolute;
//     transform: translate(100vw, 0);
// }

// #team {
//     position: absolute;
//     transform: translate(0, 100vh);
// }
